asgiref
certifi
chardet
cryptography
defusedxml
Django
django-crispy-forms
django-extensions
django-tinymce4-lite
idna
jsmin
mysqlclient
oauthlib
Pillow
pycparser
PyJWT
python-decouple
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
typing-extensions
urllib3